
<h3>予約済みルーム一覧</h3>
<table >
  <thead class="reservation_table">
    <tr>
      <th>id</th>
      <th>ルーム画像</th>
      <th>ルームネーム</th>
      <th>開始日</th>
      <th>終了日</th>
      <th>日数</th>
      <th>日額</th>
      <th>人数</th>
      <th>合計料金</th>
    </tr>
  </thead>
  <tbody class="reservation_table">
    <% @rooms.each do |r| %>
      <tr>
        <td>
          <%= r.id %>
        </td>

        <td>
          <% if r.room_image.attached? %>
            <div class="room_image">
              <%= image_tag r.room_image , class:"index_room_image"%>
            </div>
            <% end %>
        </td>

        <td>
          <%= r.room_name %>
        </td>

        <td>
          <% if r.start_day %>
            <%= r.start_day.to_s(:datetime_jp)  %>
          <% end %>
        </td>

        <td>
          <% if r.end_day %>
            <%= r.end_day.to_s(:datetime_jp) %>
          <% end %>
        </td>

        <td>
          <% if r.start_day && r.end_day %>
            <%= r.total_days.floor %>日間
          <% end %>
        </td>

        <td>
          <%= r.charge %>円
        </td>
        <td>
          <%= r.people%>
        </td>
        <td>
          <% if r.charge && r.people %>
            <%= r.total_price.floor %>円
          <% end %>
        </td>


      <% end %>
  </tbody>
</div>
</table>
