<h1>
</h1>

<p>
  <%= @room.id %>
</p>
<p>
  <%= @room.start_day %>
</p>
<p>
  <%= @room.end_day %>
</p>
<p>
  <%= (@room.end_day - @room.start_day)/24/60/60 %>
</p>
<p>
  <% @date = @room.end_day- @room.start_day %>
  <%= @room.end_day.to_s(:datetime_jp) %>
  <%= @date.to_s(:datetime_jp) %>
</p>

<%= form_with model: @room, local: true do |f| %>
  <%= f.hidden_field :room_name %>
    <%= f.hidden_field :start_day %>
    <%= f.hidden_field :end_day %>
      <%= f.submit "予約する" %>
        <%= f.submit "修正する" , name: "back" %>
          <% end %>
