<h3 class="result">登録済みルーム一覧：<%= @rooms.all.count(:id) %>件</h3>
<div class="outer_box">
  <% @rooms.each do |r| %>
  <%= link_to edit_reservation_path(r.id) do %>
    <div class="sample_box">
      <% if r.room_image.attached? %>
        <div class="room_image">
          <%= image_tag r.room_image , class:"index_room_image"%>
        </div>
        <% end %>

          <li class="room_name">
            <%= r.room_name %>
          </li>
          <li class="address">
            <%= r.adress %>
          </li>
          <li class="charge">
            ¥<%= r.charge %>
          </li>
          <li>
            <!-- <%= link_to "削除", r, method: :delete, data: { confirm: "このルームを削除しますか？" } %> -->
          </li>
    </div>
    <% end %>
    <% end %>

</div>


<!-- <div class="boxes">
    <div class="box_1">1</div>
    <div class="box_2">2</div>
    <div class="box_3">3</div>
  </div> -->
