<!DOCTYPE html>
<html>
  <head>
    <title>RentARoom</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <a href="/">レンタルーム</a>
      </div>

      <ul class="header-menus">
        <!-- <li><a>レンタルームとは</a></li> -->
        <% if user_signed_in? %>
          <li>
            <div class="search-outer-box2">
              <%= search_form_for @q, url: home_index_path do |f| %>

              <li>
                <%= f.submit "検索"%>
              </li>
              <%= f.search_field :room_name_or_adress_cont, class: "search-box", placeholder:"キーワードで検索" %>

              <% end %>
            </div>
          </li>
          <li>
          </li>

          <li>
            <% if @user.avatar.attached? %>
              <%= image_tag @user.avatar.variant(resize: '100x100' ), class: "ziro" %>
                <% end %>
                <a href="/users/:id">
                  <li class="sub">ようこそ！<%= @user.username%>さん <br>
                </a>

            <ul class="sub-list">
              <li class="sub"><%= link_to "ルーム登録" ,new_room_path %></li><br>
              <li class="sub"><%= link_to "予約済みルーム一覧" , "reservations/show" %></li><br>
              <li class="sub"><%= link_to "登録済みルーム一覧" , "/rooms/:id" %></li><br>
              <li><%= link_to "ユーザー情報", "/users/:id"%></li>
              <li><%= link_to "ログアウト" , "/users/sign_out" , method: :delete %></li>
            </ul>
          </li>
          <li>
          </li>

        <% else %>
          <li class="sub">
            <li><a><%= link_to "新規登録" , "/users/sign_up" %></a></li>
            <li><a><%= link_to "ログイン" , "/users/sign_in" %></a></li>
          </li>
        <% end %>
      </ul>

    </header>
    <div class="message">
      <p class="notice">
        <%= notice %>
      </p>
      <p class="alert">
        <%= alert %>
      </p>
    </div>

    <%= yield %>

  </body>
</html>
